apiVersion: v1
kind: Service
metadata:
  name: frontend-lb
  namespace: ecommerce
  labels:
    app: frontend
    tier: presentation
  annotations:
    cloud.google.com/load-balancer-type: "External"
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 3600
